left

<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-4'>
      <form name='info'>
        <h1>Measurements</h1>
        <label>A: </label>
        <input type='text' />
        <br>

        <label>B: </label>
        <input type='text' />
        <br>

        <label>C: </label>
        <input type='text' />
        <br>

        <label>D: </label>
        <input type='text' />
        <br>

        <label>E: </label>
        <input type='text' />
        <br>

        <label>F: </label>
        <input type='text' />
        <br>

        <h1>Floor to Floor</h1>
        <br>

        <h2>Floor Coverings</h2>
        <label>Top: </label>
        <input type='text' />
        <br>

        <label>On Stair: </label>
        <input type='text' />
        <br>

        <label>Bottom: </label>
        <input type='text' />
        <br>

        <h2>Stair Materials</h2>
        <label>Stringer: </label>
        <input type='text' />
        <br>

        <label>Treads: </label>
        <input type='text' />
        <br>

        <label>Risers: </label>
        <input type='text' />
        <br>

        <h2>Other</h2>
        <label>Build: </label>
        <input type='text' />
        <br>

        <label>Router: </label>
        <input type='text' />
        <br>

        <label>Ship/Install: </label>
        <input type='text' />
        <br>

      </form>
    </div>

    <div class='col-md-8'>
      <img src='/images/left.png'/>
    </div>
  </div>
</div>

<div>
  <a class="btn btn-primary" href="#/additional_notes" role="button">Next</a>
</div>