<!DOCTYPE html>
<html ng-app='stair'>
  <head>
    <title>Crown Stair App</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
  </head>

  <body>
  	<div class='container header-bg'>
  		<div class='jumbotron'>
  			<div class='container-fluid'>
  				<h1>Crown Stair Helper</h1>
  				<h2>This app is intended to help you work smarter!</h2>
          <h3>Click options below to create your PDF!</h3>
  			</div>
  		</div>
  	</div>

    <!-- Angular Dynamic Content -->
    <div ng-view></div>

    <script type='text/javascript' src='javascripts/angular.min.js'></script>
    <script type='text/javascript' src='javascripts/appAngular.js'></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

  </body>
</html>
