<!DOCTYPE html>
<html ng-app='stair'>
  <head>
    <title>Stair Measurer</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
  </head>

  <body>
  	<div class='container header-bg'>
  		<div class='jumbotron'>
  			<div class='container-fluid'>
  				<h1>Stair Helper</h1>
  				<h2>This app is intended to help you work smarter!</h2>
  				<h3>Click an option below to begin!</h3>
  			</div>
  		</div>
  	</div>

    <section ng-controller="PanelController as panel">
      <ul class="nav nav-pills">
        <li ng-class="{ active:panel.isSelected(1) }">
          <a href ng-click='panel.selectTab(1)'>Step 1</a>
        </li>
        <li ng-class="{ active:panel.isSelected(2) }">
          <a href ng-click='panel.selectTab(2)'>Step 2</a>
        </li>
        <li ng-class="{ active:panel.isSelected(3) }">
          <a href ng-click='panel.selectTab(3)'>Step 3</a>
        </li>
        <li ng-class="{ active:panel.isSelected(4) }">
          <a href ng-click='panel.selectTab(4)'>Step 4</a>
        </li>
        <li ng-class="{ active:panel.isSelected(5) }">
          <a href ng-click='panel.selectTab(5)'>Step 5</a>
        </li>
        <li ng-class="{ active:panel.isSelected(6) }">
          <a href ng-click='panel.selectTab(6)'>Step 6</a>
        </li>
      </ul>
      <div ng-controller="ItemController as item">
        <div class="panel" ng-show="panel.isSelected(1)">
          <h4>Choose What To Measure:</h4>
          <div class="col-sm-6" ng-repeat="choice in item.choices" id='item'>
            <a href="{{choice.link}}">
              <img class='button' ng-click="panel.selectTab(2)" ng-class="{ active:panel.isSelected(2) }" ng-src="{{choice.image}}" />
            </a>
            <p>{{choice.title}}</p>
          </div>
        </div>

        <div class="panel" ng-show='panel.isSelected(2)'>
          <div ng-view></div>
        </div>
        
        <div class="panel" ng-show='panel.isSelected(3)'>
          <p> Working on it 3</p>
        </div>

        <div class="panel" ng-show='panel.isSelected(4)'>
          <p> Working on it 4</p>
        </div>

        <div class="panel" ng-show='panel.isSelected(5)'>
          <p> Working on it 5</p>
        </div>

        <div class="panel" ng-show='panel.isSelected(6)'>
          <p> Working on it 6</p>
        </div>
        
      </div>
    </section>

    <script type='text/javascript' src='javascripts/angular.min.js'></script>
    <script type='text/javascript' src='javascripts/appAngular.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

  </body>
</html>
