Builder Info

<form name="info">
  <label>Builder: </label>
  <input type='text' name='name' placeholder="John Doe"/>
  <br>

  <label>Lot #: </label>
  <input type='text' name='lot' placeholder="#"/>
  <br>

  <label>Jobsite Address </label>
  <input type='text' name='address' placeholder="123 Example Road"/>
  <br>

  <label>Subdivision </label>
  <input type='text' name='subdivision' placeholder="Subdivison"/>
  <br>

  <label>City </label>
  <input type='text' name='city' placeholder="Lexington"/>
</form>

<div>
  <a class="btn btn-primary" href="#/review" role="button">Next</a>
</div>