Builder Info

<form name="builder_info">
  <label>Builder: </label>
  <input type='text' name='name' placeholder="John Doe"/>
  <br>

  <label>Lot #: </label>
  <input type='text' name='lot' placeholder="#"/>
  <br>

  <label>Jobsite Address </label>
  <input type='text' name='address' placeholder="123 Example Road"/>
  <br>

  <label>Subdivision </label>
  <input type='text' name='subdivision' placeholder="Subdivison"/>
  <br>

  <label>City </label>
  <input type='text' name='city' placeholder="Lexington"/>
</form>

<div class="button">
  <a href="#/review">Next</a>
</div>